body {
  display: flex;
  height: 100vh;
  width: 100vh;
  background-color: #002026;
}

.smileysContainer {
  margin: auto;
  display: flex;
  gap: 16px;
}

.smiley {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: #ffc061;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    background: radial-gradient(
        93.75% 96.51% at 6.25% 97.32%,
        #000000 0%,
        #ffffff 200%
      )
    mix-blend-mode: overlay;
  }

  .face {
    z-index: 2;
    position: absolute;
    right: 4px;
    top: 24px;
    display: flex;
    gap: 4px;
    width: 40px;
    transition: right 0.3s ease;

    .eye {
      position: relative;
      height: 8px;
      width: 8px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        border-radius: 4px;
        animation: eyes 10s ease infinite;
      }
    }
    .mouth {
      position: relative;
      transform: translateY(8px);
      border-top: solid 4px black;
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    .face {
      right: 8px;
    }
  }
}

.angry {
  background-color: #ff603e;

  .face {
    top: 34px;

    .eye::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 12px;
      height: 4px;
      background-color: black;
    }
    .eye:first-child::after {
      transform: translateX(-50%) translateY(-6px) rotate(12deg);
    }
    .eye:last-child::after {
      transform: translateX(-50%) translateY(-6px) rotate(-12deg);
    }

    .eye::before {
      animation-delay: 2.5s;
    }

    .mouth {
      transform: translateY(3px) rotate(45deg);
      border-left: 4px solid black;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 8px;
    }
  }
}

.sad {
  background-color: #ff833e;

  .face {
    top: 28px;

    .eye::before {
      animation-delay: 5s;
    }
    .mouth {
      transform: translateY(5px) rotate(45deg);
      border-left: 4px solid black;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 8px;
    }
  }
}

.pleased {
  background-color: #ffd43e;

  .face {
    top: 18px;

    .eye::before {
      animation-delay: 7.5s;
    }
    .mouth {
      transform: translateY(0) rotate(-135deg);
      border-left: 4px solid black;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 8px;
    }
  }
}

.happy {
  background-color: #ffed4e;

  .face {
    top: 12px;

    .eye::before {
      animation-delay: 10s;
    }
    .mouth {
      transform: translateY(8px);
      height: 8px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid transparent;
      border-bottom: solid 4px black;
      background-color: black;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

@keyframes eyes {
  0% {
    transform: scaleY(1);
  }
  2% {
    transform: scaleY(0);
  }
  5% {
    transform: scaleY(1);
  }
}
